<header class="masthead" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="csscf247d5c3195a6">就是在胡扯</h1>
                    <img src="http://ovpkfkx95.bkt.clouddn.com/logo.jpg" width="150" height="150" alt="imtinge" class="img-thumbnail rounded-circle">
                </div>
            </div>
        </div>
    </div>
</header>